<form name="addVideoForm">
    <fieldset>
        <legend>AddVideo:</legend>
        <div>
            <label class="block">Title:</label>
            <input class="block" type="text" required ng-model="video.title">
        </div>
        <div>
            <label class="block">Picture(link):</label>
            <input class="block" type="text" required ng-model="video.picture">
        </div>
        <div>
            <label class="block">Category:</label>
            <input class="block" type="text" required ng-model="video.category">
        </div>
        <div>
            <label class="block">Length:</label>
            <input class="block" placeholder="Hours" type="number" min="0" required ng-model="video.hours">
            <input class="block" placeholder="Minutes" type="number" min="0" max="59" required
                   ng-model="video.minutes">
            <input class="block" placeholder="Seconds" type="number" min="0" max="59" required
                   ng-model="video.seconds">
        </div>
        <div>
            <label class="block">Subscriber count:</label>
            <input class="block" type="number" min="0" ng-model="video.subscriberCount">
        </div>
        <div>
            <label class="block">Likes:</label>
            <input class="block" type="number" min="0" ng-model="video.likes">
        </div>
        <div>
            <label class="block">Date (mm-dd-yyyy) (Not supported in Firefox/leave blank):</label>
            <input class="block" type="date" ng-model="video.date">
        </div>
        <div>
            <label class="block">Has Subtitles:</label>
            <select class="block" ng-model="video.hasSubtitles">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <button ng-click="submit(video)" ng-disabled="addVideoForm.$invalid">Add Video</button>
    </fieldset>
</form>

